<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=devide-width, initial-scale=1.0">  <!-- para dispositivos móviles !-->
    <title>TermitUp</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="fontello.css">
</head>
<body>
<header class="page-header">
    <div class="header__wrapper clearfix">
        <h1 class="title">TermitUp</h1>
        <h2 class="logo" ><a href="index.html">Termitup Logo</a></h2>                    <!--<h2 class="menu__title"><a href="javascript:void(0);" onclick="myFunction()">☰</a></h2>!-->
            <h3 class="subtitle">A wonderful service for terminology</h3>

            <div class="menu">
            <ul class="menu__list">
                <li><a href="#intro__content" class="header-menu__item">Home</a></li>
                <li><a href="#" class="header-menu__item">Demo</a></li>
                <li><a href="#" class="header-menu__item">About</a></li>
                <!--<li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>!-->
                <!--<li><a href="#blog-section" class="nav-link">Blog</a></li>!-->
                <li><a href="#contact-section" class="header-menu__item">Contact</a></li>
            </ul>
            </div>
        
    </div>
</header>

<main class="intro">

	<!-- INTRO !-->
	
    <section class="intro__content clearfix">
    <div class="intro__post">
		<div class="intro__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>		
        
    </div>
	</section>
    
    <!--DEMO!-->
    <section class="intro-services clearfix">

        <h3 class="intro__title">Try it out!</a></h3>

    
    <div class="intro-services__wrapper ">
        <article class="service-item"> 
        <h3 class="service-item__title">title 3</h3>
        <div class="service-item__img">img</div>
        </article>   

   </div> 
    
    </section>

<!--CONTACTO!-->

    <section class="intro-contact">
        <h3 class="intro-contact__title"><a href="" target="_blank">Contact</a></h3>

    </section>

</main>
<!-- Menú footer!-->
<footer class="page-footer clearfix">
        
        <div class="footer-wrapper"> <!-- este div yo creo que no lo necesito !-->
            <nav class="footer-menu clearfix">
            <h3 class="footer-menu__item">Diseñado por Pesto</h3>
            </nav>
            <!--<a href="#" class="icon-search">Buscador</a> !-->
        </div>
        
</footer>
<script src="<?php bloginfo('stylesheet_directory') ?>/js.js"></script>
</body>
</html>

