<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=devide-width, initial-scale=1.0">  <!-- para dispositivos móviles !-->
    <title>TermitUp</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
     
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='reset.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontello.css') }}">

</head>
<body>
<header class="page-header">
    <div class="header__wrapper clearfix">
        <h1 class="title">Termit<span>Up</span></h1>
        <img src="../static/images/termita.png" class="logo"><a href="index.html"></a>                 <!--<h2 class="menu__title"><a href="javascript:void(0);" onclick="myFunction()">☰</a></h2>!-->
            <h3 class="subtitle">A wonderful service for terminology</h3>

            <ul id="navbar" class="menu__list">
                <li><a href="#about" class="header-menu__item">About TermitUp</a></li>
                <li><a href="#api" class="header-menu__item">API</a></li>
                <li><a href="#thanks" class="header-menu__item">Contact</a></li>
                
                
                <!--<li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>!-->
                <!--<li><a href="#blog-section" class="nav-link">Blog</a></li>!-->
                <!--<li><a href="javascript:void(0)" class="header-menu__item">Contact</a></li>!-->
            </ul>
    </div>
</header>

<main class="intro">

    <!-- INTRO !-->
    

    
    <!--DEMO!-->
    <section id="about" class="intro-services clearfix">
        <div class="intro-services__wrapper ">

        <h3 class="intro__title">About TermitUp</h3>
        <div class="intro__text">
                <p>This service generates Enriched Linked Terminologies from corpus: given a term in a corpus, it retrieves disambiguated multilingual data from the <a href="https://linguistic-lod.org/" class="llod">Linguistic Linked Open Data cloud</a> (translations, definitions, synonyms and other terminological data). The result is published as a set of JSON-LD files modeled as per the SKOS vocabulary.</p>
        <img src="../static/images/termitup.png" class="termitup"> 

        </div>
        </div> 
    
    </section>
    <section id="api" class="api">
        <h3 class="about__title">API</h3>
        <div class="about__text">
        <p>Test this service through <a href="https://termitup.oeg.fi.upm.es/swagger" class="apilink" target="_blank">TermitUp Swagger API</a>.</p>
        </div>
    </section>
    <section id="thanks" class="thanks">
        <h3 class="contact__title">Contact</h3>
        <div class="contact__text">
        <p>This work has been developed by <a href="http://www.oeg-upm.net/" class="oegweb" target="_blank">Ontology Engineering Group</a> (Universidad Politécnica de Madrid) as part of the PhD. thesis of Patricia Martín-Chozas. For more information, send an email to pmchozas@fi.upm.es</p>
        <p>This work has been supported by Prêt-à-Llod, which has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No. 825182</p>
        <img src="../static/images/logopal.png" class="logo2">
        </div>
    </section>


<!--CONTACTO!

    <section class="intro-contact">
        <h3 class="intro-contact__title"><a href="" target="_blank">Acknowledgements</a></h3>


    </section>-->

</main>
<!-- Menú footer!-->
<footer class="page-footer clearfix">
        
        <div class="footer-wrapper"> <!-- este div yo creo que no lo necesito !-->
            <nav class="footer-menu clearfix">
            </nav>
            <!--<a href="#" class="icon-search">Buscador</a> !-->
        </div>
        
</footer>
<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
</body>
</html>

