<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=devide-width, initial-scale=1.0">  <!-- para dispositivos móviles !-->
    <title>TermitUp</title>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
     
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='reset.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='fontello.css') }}">

</head>
<body>
<header class="page-header">
    <div class="header__wrapper clearfix">
        <h1 class="logo" >Termitup <a href="index.html"></a> <img src="../static/images/termitup_logo_oeg.svg" class="logo"></h1>
                         <!--<h2 class="menu__title"><a href="javascript:void(0);" onclick="myFunction()">☰</a></h2>!-->
            <h2 class="subtitle">Set of terminology-related services</h2>

            <ul id="navbar" class="menu__list">
                <li><a href="#about" class="header-menu__item">About TermitUp</a></li>
                <li><a href="#api" class="header-menu__item">API</a></li>
                <li><a href="#thanks" class="header-menu__item">Contact</a></li>
                
                
                <!--<li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>!-->
                <!--<li><a href="#blog-section" class="nav-link">Blog</a></li>!-->
                <!--<li><a href="javascript:void(0)" class="header-menu__item">Contact</a></li>!-->
            </ul>
    </div>
</header>

<main class="intro">

    <!-- INTRO !-->
    

    
    <!--DEMO!-->
    <section id="about" class="intro-services clearfix">
        <div class="intro-services__wrapper ">

        <h3 class="intro__title">About TermitUp</h3>
        <div class="intro__text">
                <p>TermitUp is a tool for terminology enrichment: given a domain specific corpus, TermitUp performs statistical terminology extraction (with TBXTools) and cleans the resulting term list with a series of liguistic processes. Then, it queries several language resources (some part of the <a href="https://linguistic-lod.org/" class="llod">Linguistic Linked Open Data cloud</a>) for candidate terms matching those in the term list.</p>

                <p>TermitUp builds sense indicators for both the source and the candidate terms, and performs a Word Sense Disambiguation process (with Semantic Web Company's service), matching those concepts with the closest domain. From the concepts matched in the external resources, TermitUp retrieves every piece of information available (translations, synonyms, definitions and terminological relations), already disambiguated, and enriches the source term lists, creating links amongst the resources in the LLOD.</p>

                <p>Afterwards, TermitUp offers the possibility of creating hierarchical relations amongst the terms in the source list and also of validating the synonymy relations retrieved from the external resources. Finally, the results are published in RDF, following SKOS and Ontolex model.</p>

                <img src="../static/images/termitupw.png" class="termitup">
        </div>
        </div> 
    
    </section>
    <section id="api" class="api">
        <div class="intro-services__wrapper ">
        <h3 class="about__title">API</h3>
        <div class="about__text">
        <p>Test this service through <a href="https://termitup.oeg.fi.upm.es/swagger/" class="apilink" target="_blank">TermitUp Swagger API </a>[WORK IN PROGRESS].</p>
        </div>
        </div>
    </section>
    <section id="thanks" class="thanks">
        <div class="intro-services__wrapper ">
        <h3 class="contact__title">Contact</h3>
        <div class="contact__text">
        <p>This work has been developed by <a href="https://oeg.fi.upm.es/" class="oegweb" target="_blank">Ontology Engineering Group</a> (Universidad Politécnica de Madrid) as part of the PhD. thesis of Patricia Martín-Chozas. For more information, send an email to pmchozas@fi.upm.es</p>
        <p>This service is being developed within Prêt-à-Llod H2020 project (grant agreement No. 825182)</p>
        <p>Code is availabe at <a href="https://github.com/Pret-a-LLOD/termitup" class="oegweb" target="_blank">Prêt-à-Llod Github repository</a>.</p>
        </div>
        </div>
    </section>


<!--CONTACTO!

    <section class="intro-contact">
        <h3 class="intro-contact__title"><a href="" target="_blank">Acknowledgements</a></h3>


    </section>-->

</main>
<!-- Menú footer!-->
<footer class="page-footer clearfix">
        
        <div class="footer-wrapper"> <!-- este div yo creo que no lo necesito !-->
            <nav class="footer-menu clearfix">
            <img src="../static/images/logopal.png" class="logo2">
            <img src="../static/images/Logo_OEG.gif" class="logo3">
            <img src="../static/images/fi.jpg" class="logo4">
            <img src="../static/images/upm.jpg" class="logo5">
            </nav>
            <!--<a href="#" class="icon-search">Buscador</a> !-->
        </div>
        
</footer>
<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
</body>
</html>