
.icon-globe:before { content: '\e800'; } /* '' */
.icon-cinema:before { content: '\e80f'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-fort-awesome:before { content: '\f286'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */